body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.global_text_color{
    color: #474747;
}
nav {
    display: flex;
}

.nav_title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav h3 span {
    color: red;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #1b1b1b;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


nav {
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.primary_btn {
    border-radius: 5px;
    background: #FD6E0A;
    width: 150px;
    border: none;
    height: 64px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    line-height: normal;
    cursor: pointer;
}

.secondary_btn {
    border-radius: 5px;
    background: #fd6f0a00;
    width: 150px;
    border: none;
    height: 64px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #FD6E0A;
    line-height: normal;
    cursor: pointer;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* Banner CSS */
.banner {
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting_title {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.name_title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    color: #181818;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner_paragraph {
    margin-top: 5px;
    margin-bottom: 30px;
    color: #868686;
}

.banner_content {
    max-width: 750px;
}

/* About Me Section */
.about_wrapper {
    margin: 100px 100px;
}

.about_wrapper .about_content {
    max-width: 1140px;
    background: #FFF8F3;
    margin: 0 auto;
    padding: 100px;
}

.about_title {
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #515151;
}

.about_para {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    color: #757575;
}

.about_items {
    display: flex;
    justify-content: center;
}

.about_items p {
    padding: 16px;
    text-align: center;
    color: #757575;
    margin-bottom: 20px;
}

/* We I Do CSS */
.whatWeDo_wrapper {
    margin: 0px 200px;
    justify-content: center;
}

.whatWeDo_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
}

.whatWeDo_para {
    color: #181818;
    max-width: 909px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.whatWeDo_item_wrapper {
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.whatWeDo_item {
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    max-width: 267px;
    height: 330px;

}

.whatWeDo_item h4 {
    color:#181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.whatWeDo_item p {
    color: #757575;

}
.whatWeDo_item img {
    margin-top: 20px;
}
.summary_wrapper{
    margin-top: 100p;
    margin-bottom: 100px;
}
.summary_content{
    max-width: 1150px;
    margin: 0 auto;
}

.col_two_wrapper{
    display: flex;
}
.summary_title{
    color:#181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 100px;
}
.col_two_wrapper .col_one{
    margin: 20px;
}
.col_two_wrapper .col_two{
    margin: 20px;
}
.cv_button{
    margin: 0 auto;
    text-align: center;
}